<div id="<%= dom_id disciplines_author %>">
  <p>
    <strong>Discipline:</strong>
    <%= disciplines_author.discipline_id %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= disciplines_author.author_id %>
  </p>

</div>
