<h1>Editing disciplines author</h1>

<%= render "form", disciplines_author: @disciplines_author %>

<br>

<div>
  <%= link_to "Show this disciplines author", @disciplines_author %> |
  <%= link_to "Back to disciplines authors", disciplines_authors_path %>
</div>
