<div id="<%= dom_id topics_discipline %>">
  <p>
    <strong>Topic:</strong>
    <%= topics_discipline.topic_id %>
  </p>

  <p>
    <strong>Discipline:</strong>
    <%= topics_discipline.discipline_id %>
  </p>

</div>
