<h1>Editing topics discipline</h1>

<%= render "form", topics_discipline: @topics_discipline %>

<br>

<div>
  <%= link_to "Show this topics discipline", @topics_discipline %> |
  <%= link_to "Back to topics disciplines", topics_disciplines_path %>
</div>
