<p style="color: green"><%= notice %></p>

<h1>Topics disciplines</h1>

<div id="topics_disciplines">
  <% @topics_disciplines.each do |topics_discipline| %>
    <%= render topics_discipline %>
    <p>
      <%= link_to "Show this topics discipline", topics_discipline %>
    </p>
  <% end %>
</div>

<%= link_to "New topics discipline", new_topics_discipline_path %>
