<div id="<%= dom_id subtopics_topic %>">
  <p>
    <strong>Subtopic:</strong>
    <%= subtopics_topic.subtopic_id %>
  </p>

  <p>
    <strong>Topic:</strong>
    <%= subtopics_topic.topic_id %>
  </p>

</div>
