<div id="<%= dom_id topics_author %>">
  <p>
    <strong>Topic:</strong>
    <%= topics_author.topic_id %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= topics_author.author_id %>
  </p>

</div>
