<h1>Editing topics author</h1>

<%= render "form", topics_author: @topics_author %>

<br>

<div>
  <%= link_to "Show this topics author", @topics_author %> |
  <%= link_to "Back to topics authors", topics_authors_path %>
</div>
